@charset "utf-8";
/* CSS Document */

#navButton1
{
	background: #023F48;
}

.main
{
	height: 700px
}
#slider1_container
{
	text-align:center;
	position: relative;
	width: 100%;
    height: 300px;
	
}

.LandingImg
{
	width: 100%;
	position: relative;
    z-index: 1;
}

.slideIcons
{
	 position: relative;
    z-index: 2;
    top: -300px;
    width:64px;
}

#leftSlide
{
	left: -40%;
}

#rightSlide
{
	right: -40%;
}