@charset "utf-8";
/* CSS Document */

/*Attribute Reset*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

/*Style Begin*/
header
{
	position:fixed;
	z-index: 3;
	background-color:#1CC3ED;
	color: #FFFFFF;
	height: 100px;
	width:100%;
}

.Logo
{
	font-family:"Bebas Neue";
	float:left;
}

.Logo img
{
	height: 95px;
	width: 250px;
}


header nav
{
	
	margin-top:38px;
	padding-right: 15px;
	float:right;
	font-family:"Trajan Pro";
	}

#secondaryNav
{
	text-align:right;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
}

#secondaryNav a
{
	padding:20px;
}


ul#MainNav li{
	display:inline;
	padding: 10px;
	padding-right: 30px;
	
}


a
{
	color:#FFFFFF;
	text-decoration:none;
	
}

section
{
	padding-top:100px;
}

	
footer
{
	background-color: #6AB7CB;
	height: 120px;
	color: white;
	
}

#MainFooter
{
	height:80px;
	color: black;
}

#SubFooter
{
	background-color: #1384A1 ;
	height: 50px;
}

#copyright
{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:100;
	font-size:10px;
	margin-left: 30px;
	padding-top: 20px;
	float:left;
	
}

#Kapish
{
	float:right;
	font-family: Roboto, Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
}

img.kapish
{
	vertical-align: -70%;
}

#Social
{
	float:right;
	margin-top: 10px;
	margin-right: 40px;
}

#Social img
{
	height:40px;
}
	
#footnav
{
	float: left;
	

}

#footnav h1
{
	float:left;
	font-family: "Quasix Titling", Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	font-weight:300;
	margin-top: 20px;}

.footLinks
{
	float:left;
	margin-left: 80px;
	margin-top: 10px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
}

#SecLink
{
	margin-top: 10px;
}

#SecLink li
{
	font-weight:bold;
}
	
	




	

	

